<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body class="flex items-center justify-center h-screen">
<div class="bg-white p-8 w-96">
  <h2 class="text-4xl font-bold mb-2 text-gray-800 text-center uppercase">
    Sign Up
  </h2>
  <div class="text-center text-sm mb-4">
    <span class="text-gray-600 italic font-light">Already a member?</span>
    <a href="/auth/login" class="text-[#EBBA4D] italic">Log In</a>
  </div>
  <form method='POST' action='/auth/store' class="space-y-4">
    <div>
      <label
        for="firstName"
        class="block mb-2 font-medium text-gray-600 italic font-thin text-xs"
      >First Name</label
      >
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="italic text-xs block w-full p-2 border-b border-gray-300 focus:border-b-[#EBBA4D] focus:outline-none pl-0"
      />
    </div>
    <div>
      <label
        for="lastName"
        class="block mb-2 font-medium text-gray-600 italic font-thin text-xs"
      >Last Name</label
      >
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="italic text-xs block w-full p-2 border-b border-gray-300 focus:border-b-[#EBBA4D] focus:outline-none pl-0"
      />
    </div>
    <div>
      <label
        for="email"
        class="block mb-2 font-medium text-gray-600 italic font-thin text-xs"
      >Email</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="italic text-xs block w-full p-2 border-b border-gray-300 focus:border-b-[#EBBA4D] focus:outline-none pl-0"
      />
    </div>
    <div>
      <label
        for="password"
        class="block mb-2 font-medium text-gray-600 italic font-thin text-xs"
      >Password</label
      >
      <input
        type="password"
        id="password"
        name="password"
        class="italic text-xs block w-full p-2 border-b border-gray-300 focus:border-b-[#EBBA4D] focus:outline-none pl-0"
      />
    </div>

    <button
      type="submit"
      class="block w-full py-2 px-4 bg-[#EBBA4D] hover:bg-[#EBBA4D]/[.8] transition-all text-white font-semibold"
    >
      Sign Up
    </button>
  </form>
</div>
</body>
</html>
